[submodule "test/modules/dronekit-la-testdata"]
	path = test/modules/dronekit-la-testdata
	url = https://github.com/dronekit/dronekit-la-testdata
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git://github.com/ArduPilot/mavlink
