[loganalyzer]
altitude_estimate_divergence::delta_warn=4.0 ; metres
altitude_estimate_divergence::delta_fail=5.0 ; metres
altitude_estimate_divergence::duration_min=500000 ; microseconds

attitude_control::delta_warn=5.0 ; degrees
attitude_control::delta_fail=10.0 ; degrees
attitude_control::duration_min=250000 ; microseconds

attitude_estimate_divergence::delta_warn=5.0 ; degrees
attitude_estimate_divergence::delta_fail=10.0 ; degrees
attitude_estimate_divergence::duration_min=500000 ; microseconds

battery::low_battery_threshold=15.0 ; percent

brownout::max_last_relative_altitude=5.0 ; metres

compass_offsets::length_warn=100.0 ; vector length
compass_offsets::length_fail=200.0 ; vector length

ekf::variance::velocity::threshold_warn=0.5
ekf::variance::velocity::threshold_fail=1.0
ekf::variance::pos_horiz::threshold_warn=0.5
ekf::variance::pos_horiz::threshold_fail=1.0
ekf::variance::pos_vert::threshold_warn=0.5
ekf::variance::pos_vert::threshold_fail=1.0
ekf::variance::compass::threshold_warn=0.5
ekf::variance::compass::threshold_fail=4.0
ekf::variance::terrain_alt::threshold_warn=0.5
ekf::variance::terrain_alt::threshold_fail=1.0

gpsfix::satellites_min=5 ; satellites
gpsfix::hdop_min=5.0

position_estimate_divergence::delta_warn=0.0 ; metres
position_estimate_divergence::delta_fail=5.0 ; metres
